# langchain core
langchain
langchain-core

# OpenAI integration
langchain-openai 
openai

# anthiropuc integration 
langchain-anthropic

# google gemni (Palm) integration 
langchain-google-genai
google-generativeai

# hugging face integration 
langchain-huggingface
transformers
huggingface-hub

# environment variable management 
python-dotenv

# machine-learning utilities 
numpy
scikit-learn

torch
accelerate

sentence-transformers
